<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Query</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close(null, false)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="inputbox">
    <ion-item  lines="none" color="none">
      <ion-textarea rows="4" placeholder="Enter Remark" [(ngModel)]="remark"></ion-textarea>
    </ion-item>
  </section>
  <ion-row>
    <ion-col size="3">
      <ion-button shape="round" [color]="isImgUpload ? 'success': 'danger'" fill="outline" (click)="openCamera()">
        <ion-icon [name]="isImgUpload ? 'checkmark-done-outline' : 'attach-outline'"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="9">
      <ion-button expand="block" shape="round" color="primary" (click)="submit()" class="ion-text-capitalize">Submit <ion-icon name="save-outline" slot="end"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" *ngFor="let dat of history;let i = index">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <h3><b>{{i+1}}.</b> {{dat.qry_desc}}</h3>
          <p>{{dat.name}}-{{dat.created_at}}</p>
        </ion-label>
        <ion-button slot="end" color="danger" fill="clear" (click)="openDoc(dat.attachment)" *ngIf="dat.attachment">
          <ion-icon name="attach-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
