ion-text {
  font-weight: 550;
}

ion-input {
  --placeholder-color: var(--ion-color-dark);
  font-weight: 500;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.critical {
  border-right:4px solid var(--ion-color-danger);
}

.noncritical {
  border-right:4px solid var(--ion-color-success);
}

.fullborder {
  border:3px solid var(--ion-color-danger) !important;
}

.cr {
  background-color: var(--ion-color-danger);
  color: black;
}

.ncr {
  background-color: var(--ion-color-success);
  color: black;
}

.redBorder {
  border:2px solid var(--ion-color-danger);
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
