<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PO Approval</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment  [(ngModel)]='segmentStatus' (ionChange)="changeSegment($event)">
    <ion-segment-button value="pending">
      <ion-label>Pending </ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]='segmentStatus'>
    <div *ngSwitchCase= "'pending'">
      <ion-card *ngFor="let dat of pendingPO;let i = index">
        <ion-card-header color="primary">({{i+1}})  #{{dat.po_no}}</ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-text color="primary">PC Name</ion-text><br>
              <ion-text color="medium">{{dat.pc_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">PO Value</ion-text><br>
              <ion-text color="medium">{{dat.po_value}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">PO Date</ion-text><br>
              <ion-text color="medium">{{dat.po_date}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Req By Date</ion-text><br>
              <ion-text color="medium">{{dat.reqd_by_date}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">WH</ion-text><br>
              <ion-text color="medium">{{dat.pc_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Vendor</ion-text><br>
              <ion-text color="medium">{{dat.vnd_org_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Requstor</ion-text><br>
              <ion-text color="medium">{{dat.requestor}}</ion-text>
            </ion-col>
            <ion-col size="6" *ngIf="dat.annex_doc1">
              <ion-button size="small" color="danger" class="ion-text-capitalize" (click)="openDoc(dat.annex_doc1)">Attachment <ion-icon name="attach-outline" slot="end"></ion-icon></ion-button>
            </ion-col>
            <ion-col size="6" style="display: flex;align-items: center;">
              <ion-button size="small" color="danger" (click)="openModal(dat)" shape="round">Query</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="outline" color="primary" (click)="presentAlertConfirm(0, 'Reject', dat)">Reject</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" shape="round" fill="solid" color="primary" (click)="presentAlertConfirm(1, 'Approve', dat)">Approve</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase= "'completed'">
      <ion-card *ngFor="let dat of PoHistory;let i = index">
        <ion-card-header color="primary">({{i+1}})  #{{dat.po_no}}</ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col size="12">
              <ion-text color="primary">PC Name</ion-text><br>
              <ion-text color="medium">{{dat.pc_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">PO Value</ion-text><br>
              <ion-text color="medium">{{dat.po_value}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">PO Date</ion-text><br>
              <ion-text color="medium">{{dat.po_date}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Req By Date</ion-text><br>
              <ion-text color="medium">{{dat.reqd_by_date}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">WH</ion-text><br>
              <ion-text color="medium">{{dat.pc_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Vendor</ion-text><br>
              <ion-text color="medium">{{dat.vnd_org_name}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-text color="primary">Requstor</ion-text><br>
              <ion-text color="medium">{{dat.requestor}}</ion-text>
            </ion-col>
            <ion-col size="6">
              <ion-button size="small" color="danger" class="ion-text-capitalize" (click)="openDoc(dat.annex_doc1)">Attachment <ion-icon name="attach-outline" slot="end"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>


</ion-content>
