<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="testOtp()">Ticket Work Space</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]='segmentStatus'>
    <ion-segment-button value="ticket">
      <ion-label>Ticket</ion-label>
    </ion-segment-button>
    <ion-segment-button value="asset" *ngIf="requestedData.issue_desc === 'Assets'">
      <ion-label>Asset</ion-label>
    </ion-segment-button>
    <ion-segment-button value="service" *ngIf="requestedData.issue_desc === 'Service'">
      <ion-label>Service</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]='segmentStatus'>
    <div *ngSwitchCase="'ticket'">
      <!-- <div *ngIf="arr.attend_time || arr.attend_time === 0">
        <ion-item >
          <ion-label position="floating">Ticket Priority <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet"  [disabled]="isPriority === 0 ? true: false " (ionChange)="presentAlert($event)" [(ngModel)]="arr.tkt_priority_id" mode="ios">
            <ion-select-option *ngFor="let dat of ticketPriority" [value]="dat.id">{{dat.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col size="6" class="ion-padding-start">
            <ion-text >Attended Time : {{arr.attend_time}} </ion-text><br>
            <ion-text [ngStyle]="{'color': arr.resp_remark}">{{arr.response_time}}</ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text>Resolve Time : {{arr.resolve_time}}</ion-text><br>
            <ion-text [ngStyle]="{'color': arr.resolve_remark}">{{arr.resolv_time}}</ion-text>
          </ion-col>
        </ion-row>
      </div> -->

      <section *ngIf="!isFormDisabled">
        <form [formGroup]="workSpace">
          <ion-card>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Status <ion-text color="danger">*</ion-text> </ion-label>
                  <ion-select interface="action-sheet" formControlName="status" (ionChange)="changeStatus($event)" mode="ios">
                    <ion-select-option *ngFor="let dat of ticketStages" [value]="dat.stage_id">{{dat.stage_desc}}</ion-select-option>
                    <ion-select-option value="assign">Assign</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col size="6" *ngIf="workSpace.value.status === 4 || workSpace.value.status === 9 || workSpace.value.status === 11">
                <ion-item>
                  <ion-label position="floating">Scope of Work <ion-text color="danger">*</ion-text> </ion-label>
                  <ion-select interface="action-sheet" mode="ios" formControlName="scope_of_work">
                    <ion-select-option *ngFor="let dat of scopeOfWorkArr" [value]="dat.value">{{dat.label}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>

            <div *ngIf="workSpace.value.status === 3 ">
              <ion-item>
                <ion-label position="floating">Remark <ion-text color="danger">*</ion-text></ion-label>
                <ion-textarea rows="4" formControlName="remark"></ion-textarea>
              </ion-item>
              <!-- <ion-button  size="small" shape="round" fill="outline" color="danger" [color]="fileName ? 'success': 'danger'"  class="ion-padding-start" (click)="presentActionSheet()">
                <ion-text *ngIf="arr.hasWIP === 0; else image">Upload Image</ion-text>
                <ng-template #image>
                  <ion-text>Upload Image</ion-text>
                </ng-template>
                <ion-text *ngIf="isPtwMandatory">Upload PTW</ion-text>
                <ion-text *ngIf="!isPtwMandatory">Upload Img</ion-text>
                <ion-icon name="attach-outline" slot="end"> </ion-icon>
              </ion-button> -->
              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" shape="round" (click)="checkHasWip()">Submit <ion-icon name="save-outline" slot="end"></ion-icon> </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" shape="round" color="danger" (click)="createIndent()" >Create Indent <ion-icon name="create-outline" slot="end"></ion-icon></ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div *ngIf="workSpace.value.status === 4 || workSpace.value.status === 9 || workSpace.value.status === 11">
              <ion-item *ngIf="workSpace.value.status === 11">
                <ion-label position="floating">Equipment ID</ion-label>
                <ion-input type="number" formControlName="standby_equipment" placeholder="Enter Barcode No" (ionChange)="changeBarcode()"></ion-input>
                <ion-button (click)="verifyAsset()" slot="end" [disabled]="!workSpace.value.standby_equipment">Verify</ion-button>
              </ion-item>
              <ion-grid style="border:1px solid black" *ngIf="verifyObjStatus.ext_asset_id">
                <ion-row>
                  <ion-col size="4">Ext Asset ID</ion-col>
                  <ion-col>{{verifyObjStatus.ext_asset_id}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Model</ion-col>
                  <ion-col>{{verifyObjStatus.model_id}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Sub Group </ion-col>
                  <ion-col>{{verifyObjStatus.subgrp_desc}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">Status </ion-col>
                  <ion-col>{{verifyObjStatus.status_name}}</ion-col>
                </ion-row>
              </ion-grid>

              <ion-item>
                <ion-label position="floating">Problem Reported By Customer <ion-text color="danger">*</ion-text></ion-label>
                <ion-textarea type="text" rows="3" formControlName="problem_reported"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Action Taken By Engineer <ion-text color="danger">*</ion-text></ion-label>
                <ion-textarea type="text" rows="3" formControlName="action_taken"></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-button size="small" fill="outline" color="{{fileName ? 'success': 'danger'}}"  (click)="presentActionSheet()"> Image </ion-button>
                <!-- <ion-button shape="round" [hidden]="isOtpSent" expand="block" (click)="sendOtp()">Send OTP</ion-button> -->
              </ion-item>

              <!-- <ion-item [disabled]="isOtpSent">
                <ion-label position="floating">Phone No</ion-label>
                <ion-input type="text" [(ngModel)]="mobile" formControlName="phone_no" [disabled]="isOtpSent"></ion-input>
                <ion-buttons slot="end">
                  <ion-button shape="round" [hidden]="isOtpSent" expand="block" [disabled]="!workSpace.value.phone_no" (click)="sendOtp()">Send OTP</ion-button>
                </ion-buttons>
              </ion-item> -->

              <ion-item  class="ion-text-center" [disabled]="isVerifyOtp" *ngIf="isOtpSent"> <!--*ngIf="isOtpSent"-->
                <ng-otp-input  (onInputChange)="changeNgOtp($event)" [config]="{length:4, allowNumbersOnly:true}"></ng-otp-input>
                <ion-button *ngIf="isOtpSent" slot="end" [hidden]="isVerifyOtp"  fill="clear" color="danger">{{mm | number : '2.0'}}:{{ss | number : '2.0'}}</ion-button>
              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-button shape="round" color="tertiary" *ngIf="isOtpSent" [hidden]="isVerifyOtp"  expand="block" (click)="verifyOtp()">Verify OTP</ion-button>
                  <ion-button shape="round" *ngIf="isVerifyOtp || fileName" expand="block" (click)="submitTicket()">Submit</ion-button>
                </ion-col>
                <ion-col class="ion-text-right">
                  <ion-button shape="round" color="danger" [hidden]="isVerifyOtp"  expand="block" *ngIf="isOtpSent" (click)="resetOtp()">Reset Otp</ion-button>
                </ion-col>
              </ion-row>
            </div>
            <div class="ion-margin-start" [hidden]="fileName || isVerifyOtp">
              <ion-text color="primary"  *ngIf="workSpace.value.status === 4 || workSpace.value.status === 9"><b>Note:</b> You can resolve the ticket with uploading an image.</ion-text>
            </div>
          </ion-card>
        </form>
      </section>
      <section *ngIf="isFormDisabled">
        <img src="assets/img/ptw_pending.jpeg" style="height:300px;width:100%;">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text>
              <b>PTW Approval is Pending !</b><br>
            </ion-text>
            <ion-text style="font-weight:500 !important">
              Once the PTW is approved, after that you can work on this ticket.
            </ion-text>
          </ion-col>
        </ion-row>
      </section>
    </div>
    <div *ngSwitchCase="'asset'">
      <ion-card>
        <ion-card-header color="primary"><b>Location Information</b></ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Site</ion-text><br>
              <ion-text>{{assetInfo.pc_ext_id}} {{assetInfo.pc_desc}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Building</ion-text><br>
              <ion-text>{{assetInfo.building_desc}}</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Floor Description</ion-text><br>
              <ion-text>{{assetInfo.floor_desc}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Ext Asset Id</ion-text><br>
              <ion-text>{{assetInfo.ext_asset_id}} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Group Description</ion-text><br>
              <ion-text>{{assetInfo.grp_desc}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Manufacturer</ion-text><br>
              <ion-text>{{assetInfo.mnfctrer_desc}} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">PC Description</ion-text><br>
              <ion-text>{{assetInfo.pc_desc}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Serial Name</ion-text><br>
              <ion-text>{{assetInfo.serial_no}} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Sub Group Class</ion-text><br>
              <ion-text>{{assetInfo.subgrp_class}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Sub Group Description</ion-text><br>
              <ion-text>{{assetInfo.subgrp_desc}} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Warranty</ion-text><br>
              <ion-text>{{assetInfo.warranty}}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text color="primary">Warranty Start Date</ion-text><br>
              <ion-text>{{assetInfo.wrnty_start_date}} </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="primary">Warranty End Date</ion-text><br>
              <ion-text>{{assetInfo.wrnty_end_date}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'service'">
      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-text color="dark">Plant</ion-text><br>
            <ion-text color="medium">{{requestedData.pc_desc}}</ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark">Building</ion-text><br>
            <ion-text color="Medium">{{arr.building_desc}}</ion-text><br>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark">Floor</ion-text><br>
            <ion-text color="Medium">{{arr.floor_desc}}</ion-text><br>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark">Location</ion-text><br>
            <ion-text color="Medium">{{arr.location_desc}}</ion-text><br>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark">Category</ion-text><br>
            <ion-text color="medium">{{requestedData.cat_desc}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-text color="dark">Sub Category</ion-text><br>
            <ion-text color="medium">{{requestedData.subcat1_desc}}</ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-text color="dark">Sub Category 2</ion-text><br>
            <ion-text color="medium">{{requestedData.subcat2_desc}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

</ion-content>
