<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Ticket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="createForm">
  <ion-card>
    <ion-card-header color="primary"> User Detail </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Employee Name</ion-label>
        <ion-input type="text" formControlName="usr_name" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mobile No  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-input type="number" formControlName="mobile"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">Problem Detail</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Select issue type <ion-text color="danger">*</ion-text> </ion-label>
        <ion-select interface="action-sheet" formControlName="issue_id" (ionChange)="changeIssue()">
          <ion-select-option *ngFor="let dat of allIssueType" [value]="dat.issue_id"> {{dat.issue_desc}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="createForm.value.issue_id === 1">
        <ion-item>
          <ion-label position="floating">Has Barcode  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="is_barcode" (ionChange)="changeHasBarcode()">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="createForm.value.is_barcode === '1'">
          <ion-label>Barcode No  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-input type="text" formControlName="barcode"></ion-input>
          <ion-button color="danger" slot="end" (click)="searchBarcode()">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngFor="let dat of barcodeList">
          <ion-checkbox slot="start" formControlName="multi_barcode" [(ngModel)]="dat.isSelected" ></ion-checkbox>
          <ion-label>
            <h2>{{dat.ext_asset_id}}</h2>
            <p>{{dat.client_asset_id}}</p>
            <p>{{dat.serial_no}}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="createForm.value.is_barcode === '0'">
          <ion-label position="floating">RO Name  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="pc_id">
            <ion-select-option *ngFor="let dat of allRoName" [value]="dat.value">{{dat.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div *ngIf="createForm.value.issue_id === 2">
        <ion-item>
          <ion-label position="floating">RO Name <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="pc_id" (ionChange)="getQueryCategory()">
            <ion-select-option *ngFor="let dat of allRoName" [value]="dat.value">{{dat.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Query Category  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="category" (ionChange)="changeQuery($event)">
            <ion-select-option *ngFor="let dat of allQueryCat" [value]="dat.value">{{dat.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Query Sub Category  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="subcat1_id" (ionChange)="changeSubCat($event)">
            <ion-select-option *ngFor="let dat of allSubCat1" [value]="dat.value">{{dat.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Query Sub Category 2  <ion-text color="danger">*</ion-text> </ion-label>
          <ion-select interface="action-sheet" formControlName="subcat2_id">
            <ion-select-option *ngFor="let dat of allSubCat2" [value]="dat.value">{{dat.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary"> Document </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Priority  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-select interface="action-sheet" formControlName="priority">
          <ion-select-option>Low</ion-select-option>
          <ion-select-option>Medium</ion-select-option>
          <ion-select-option>High</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Remark</ion-label>
        <ion-textarea rows="4" formControlName="remark"></ion-textarea>
      </ion-item>
      <ion-button size="small" color="danger" fill="outline" (click)="openCamera()" [color]="fileName ? 'success': 'danger' ">Attachment
        <ion-icon [name]="fileName ?  'checkmark-done-outline': 'attach-outline'" slot="end"></ion-icon>
      </ion-button>
      <br>
      <ion-button expand="block" [disabled]="createForm.invalid" (click)="submit()">Submit <ion-icon name="save-outline" slot="end"></ion-icon></ion-button>

    </ion-card-content>
  </ion-card>
</form>
</ion-content>
