<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Assign Ticket</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close(null, false)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="search($event)" debounce="1000"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-virtual-scroll [items]="empList" approxItemHeight="320px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;">
      <ion-label class="ion-text-wrap">
        {{item.label}}
      </ion-label>
      <ion-button slot="end" (click)="assign(item)">Assign</ion-button>
    </ion-item>
  </ion-virtual-scroll>
  <!-- <ion-card>
    <ion-item>
      <ion-label position="floating">Select Employee</ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="emp">
        <ion-select-option *ngFor="let dat of empList" [value]="dat"> {{dat.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="assign()">Assign</ion-button>
      </ion-col>
    </ion-row>
  </ion-card> -->

</ion-content>
