<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Offline Assets</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let dat of offlineAssetList">
    <ion-row>
      <ion-col size="6">
        <ion-text color="primary">Ext Asset Id</ion-text><br>
        <ion-text>{{dat.ext_asset_id}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="primary">Client Asset Id</ion-text><br>
        <ion-text>{{dat.client_asset_id}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="primary">Site</ion-text><br>
        <ion-text>{{dat.site_id_description}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="primary">Location</ion-text><br>
        <ion-text>{{dat.loc_id_desc}}</ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text color="primary">Manufacturer</ion-text><br>
        <ion-text>{{dat.manufacturer_id_desc}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" shape="round" class="ion-text-capitalize" fill="outline" (click)="deleteAssetCondition(dat.ext_asset_id)">DELETE <ion-icon name="trash-outline" slot="end"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" class="ion-text-capitalize" (click)="saveToServer(dat)">SUBMIT <ion-icon name="save-outline" slot="end"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- <ion-item *ngFor="let dat of offlineAssetList">
    <ion-label class="ion-text-wrap">
      <h2>{{dat.ext_asset_id}}</h2>
      <p>{{dat.manufacturer_id_desc}}</p>
      <p>{{dat.subgrp_id_desc}}</p>
      <p>{{dat.remark}}</p>
    </ion-label>
    <ion-button slot="end" size="small" fill="outline" (click)="saveToServer(dat)">Save</ion-button>
  </ion-item> -->
</ion-content>
