<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Site Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null, false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionChange)="search($event)" debounce="1000"></ion-searchbar>
  <!-- <ion-list>
    <ion-item *ngFor="let dat of allCostCenter" (click)="closeModal(dat, true)" class="ion-text-wrap">
      {{dat.label}}
    </ion-item>
  </ion-list>
  <div style="height:100px;width:100%;background-color:red">
    virtual scroll
  </div> -->

  <ion-virtual-scroll [items]="allCostCenter" approxItemHeight="320px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;" (click)="closeModal(item, true)">
      {{item.label}}
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
