<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:30%;width:100%;display: flex; align-items: center; justify-content: center">
    <img src="assets/menu_icon.svg" style="height:70px;width:200px">
  </div>
  <div *ngIf="!isOtpSent && !isNewPass">
    <ion-row>
      <ion-col size="12">
        <ion-item >
          <ion-label position="floating">Enter Employee Id</ion-label>
          <ion-input type="text" [(ngModel)]="empid"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button shape="round" color="primary" [disabled]="!empid" (click)="sendOtp()">Continue</ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="ion-padding" *ngIf="isOtpSent && !isNewPass">
    <h3>Validate OTP</h3>
    <p>
      Please enter the OTP (one time password) to verify yourself. The Code has been sent to your email id / registered mobile no ending with {{lastNumber}}
    </p>
    <div class="ion-text-center">
      <img src="assets/otp_icon.png" style="height:100px;width:auto;margin:auto">
    </div>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <span>Enter 4 Digit Code</span>
      </ion-col>
      <ion-col class="ion-text-center">
        <!-- <ion-item>
          <ion-input type="number" placeholder="Enter OTP " (ionChange)="getOtpValue($event)"> </ion-input>
        </ion-item> -->
        <!-- <ng-otp-input  (onInputChange)="changeNgOtp($event)" [config]="{length:4, allowNumbersOnly:true}"></ng-otp-input> -->
        <ng-otp-input  (onInputChange)="getOtpValue($event)" [config]="{length:4, allowNumbersOnly:true}"></ng-otp-input>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="isNewPass" >
    <ion-item >
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" (ionChange)="changePass()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" color="primary" [disabled]="newPassword !== confirmPassword || !newPassword"  (click)="changePassword()">Change</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
