<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ticket Type</ion-title>
     <ion-buttons slot="end" (click)="dismiss(null, false)">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="ticketForm">
    <div style="margin-top:16px;margin-left:16px"><b>Ticket Creation Remark :</b> {{allData.remark}}</div>
    <ion-item>
      <ion-label position="floating">Complaint Type</ion-label>
      <ion-select interface="action-sheet" formControlName="issue_type" (ionChange)="changeType()" mode="ios">
        <ion-select-option *ngFor="let dat of issueType" [value]="dat.issue_id">{{dat.issue_desc}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Request Type</ion-label>
      <ion-select interface="action-sheet" formControlName="req_type_id" mode="ios">
        <ion-select-option *ngFor="let dat of requestType" [value]="dat.val">{{dat.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Activity Type</ion-label>
      <ion-select interface="action-sheet" formControlName="tkt_tag" mode="ios">
        <ion-select-option value="1">Pro-Active</ion-select-option>
        <ion-select-option value="2">Re-Active</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="ticketForm.value.issue_type === 1">
      <ion-item>
        <ion-label position="floating">Is Barcode</ion-label>
        <ion-select interface="action-sheet" formControlName="is_barcode" mode="ios" (ionChange)="changeIsBarcode($event)">
          <ion-select-option value="1">Yes</ion-select-option>
          <ion-select-option value="0">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="ticketForm.value.is_barcode === '1'">
        <ion-label position="floating">Barcode</ion-label>
        <ion-input type="text" formControlName="barcode"> </ion-input>
        <ion-button size="small" slot="end" fill="outline" color="red" [disabled]="!ticketForm.value.barcode" (click)="searchClientId()">Search <ion-icon name="search-outline" slot="end"></ion-icon> </ion-button>
      </ion-item>
      <section *ngIf="ticketForm.value.is_barcode === '1'">
        <ion-radio-group formControlName="barcode_id" (ionChange)="changeRadio()">
          <ion-item *ngFor="let dat of barcodeList">
            <ion-radio slot="start" [value]="dat.asset_id" ></ion-radio>
            <ion-label>
              <h2>{{dat.ext_asset_id}}</h2>
              <p>{{dat.serial_no}}</p>
              <p>{{dat.subgrp_desc}}</p>
              <p>{{dat.client_asset_id}}</p>
              <p><b>Building:</b> {{dat.building_desc}}</p>
              <p><b>Floor:</b> {{dat.floor_desc}}</p>
              <p><b>Location:</b> {{dat.location_desc}}</p>
            </ion-label>
          </ion-item>
        </ion-radio-group>
      </section>
    </div>
    <div *ngIf="ticketForm.value.issue_type === 2">
      <ion-item>
        <ion-label position="floating">Query Category</ion-label>
        <ion-select interface="action-sheet" formControlName="category" (ionChange)="changeQuery($event)" mode="ios">
          <ion-select-option *ngFor="let dat of query" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Query Sub Category One</ion-label>
        <ion-select interface="action-sheet" formControlName="subcat1_id" (ionChange)="changeSubCat($event)" mode="ios">
          <ion-select-option *ngFor="let dat of subCategory" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="subCategory2.length > 0">
        <ion-label position="floating">Query Sub Category Two</ion-label>
        <ion-select interface="action-sheet" formControlName="subcat2_id" mode="ios">
          <ion-select-option *ngFor="let dat of subCategory2" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <section *ngIf="isShowBuilding">
      <ion-item >
        <ion-label position="floating">Building  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-select interface="action-sheet" mode="ios" formControlName="bldg_id" (ionChange)="changeBuilding($event)">
          <ion-select-option *ngFor="let dat of buildingArr" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item >
        <ion-label position="floating">Floor  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-select interface="action-sheet" mode="ios" formControlName="floor_id" (ionChange)="changeFloor($event)">
          <ion-select-option *ngFor="let dat of floorArr" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="allData.source !== 'QRCODE' ">
        <ion-label position="floating">Location  <ion-text color="danger">*</ion-text> </ion-label>
        <ion-select interface="action-sheet" mode="ios" formControlName="loc_code">
          <ion-select-option *ngFor="let dat of locationArr" [value]="dat.value">{{dat.label}}</ion-select-option>
        </ion-select>
      </ion-item>
    </section>

    <ion-item>
      <ion-label position="floating">Ticket Priority</ion-label>
      <ion-select interface="action-sheet" formControlName="tkt_priority" (ionChange)="changePriority($event)" mode="ios">
        <ion-select-option *ngFor="let dat of ticketPriority" [value]="dat.id">{{dat.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-row *ngIf="ticketForm.value.tkt_priority">
      <ion-col>
        <ion-text color="primary"><b>Attend Time</b></ion-text><br>
        <ion-text>{{selectPriorityObj.attend_time}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="primary"><b>Resolve Time</b></ion-text><br>
        <ion-text>{{selectPriorityObj.resolve_time}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button *ngIf="ticketForm.value.issue_type" [disabled]="ticketForm.invalid" (click)="saveData()">Submit <ion-icon name="save-outline" slot="end"></ion-icon> </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
