<ion-content id="content" *ngIf="!base64Img">

</ion-content>
<ion-footer class="overlay" *ngIf="!base64Img">
  <ion-row>
    <ion-col>
      <ion-button (click)="stopCamera('', false)" expand="block" id="close">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="takePicture()" expand="block" id="capture">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="flipCamera()" expand="block" id="flip">
        <ion-icon slot="icon-only" name="repeat"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-content *ngIf="base64Img">
  <img [src]="base64Img" style="height:100px;width:100px;">
</ion-content>
