<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Site</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null, false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionChange)="search($event)" debounce="1000"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let dat of plantName" (click)="closeModal(dat, true)" class="ion-text-wrap">
      {{dat.pc_ext_id}}-{{dat.pc_desc}}
    </ion-item>
  </ion-list>
</ion-content>
