<ion-card class="myCards" [ngClass]="{'wip': data.status === 'work in progress', 'assign': data.status === 'assigned', 'resolve': data.status === 'resolved'}">
  <div style="background-color:var(--ion-color-primary)">
    <ion-row>
      <ion-col>
        <ion-text color="light" class="head">Ticket Id: {{data.tkts_id}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="light" class="head">{{data.stage_desc}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="light" class="head">{{data.assignedTo}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="light" class="head">{{data.issue_desc}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="light" class="head" *ngIf="data.rslv_date === '0000-00-00 00:00:00'  ">Not Resolved Yet</ion-text><br>
        <ion-text color="light" class="head" *ngIf="data.rslv_date !== '0000-00-00 00:00:00'  ">Resolved Date {{data.rslv_date}}</ion-text><br>
        <ion-text color="light" class="head">{{data.totalDelay}}</ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="light" class="head">{{data.log_date | date: 'dd/MMM/yyyy'}}</ion-text>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <ion-text  class="medium">Plant</ion-text><br>
        <ion-text color="dark">{{data.pc_ext_id}} {{data.pc_desc}}</ion-text>
      </ion-col>
    </ion-row>
    <section *ngIf="data.issue_desc === 'Service'">
      <ion-row>
        <ion-col>
          <ion-text class="medium">Category</ion-text><br>
          <ion-text color="dark">{{data.cat_desc}} </ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="medium">Sub Category</ion-text><br>
          <ion-text color="dark">{{data.subcat1_desc}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="medium">Sub Category2</ion-text><br>
          <ion-text color="dark">{{data.subcat2_desc}}</ion-text>
        </ion-col>
      </ion-row>
    </section>
    <section *ngIf="data.issue_desc === 'Assets'">
      <ion-row>
        <ion-col>
          <ion-text class="medium">Barcode</ion-text><br>
          <ion-text color="dark">{{data.ext_asset_id}} </ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="medium">Device Name</ion-text><br>
          <ion-text color="dark">{{data.grp_desc}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="medium">Manufacturer</ion-text><br>
          <ion-text color="dark">{{data.mnfctrer_desc}}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="medium">Warranty Status</ion-text><br>
          <ion-text color="dark">{{data.warranty_status}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="medium">Purchase Value</ion-text><br>
          <ion-text color="dark">{{data.pur_value}} </ion-text>
        </ion-col>
      </ion-row>
    </section>
    <ion-row>
      <ion-col>
        <ion-text class="medium">Log By</ion-text><br>
        <ion-text color="dark">{{data.assignedTo}} </ion-text>
      </ion-col>
      <ion-col>
        <ion-text class="medium">Remark</ion-text><br>
        <ion-text color="dark">{{data.remark}} </ion-text>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-text class="medium">Attend Time(min)</ion-text><br>
        <ion-text color="dark">{{data.attend_time}}</ion-text><br>
        <ion-text [color]="data.attend_remark == 'Breached'? 'danger': 'success' " > {{data.remain_attend}} {{data.attend_remark}}</ion-text><br>
      </ion-col>
      <ion-col>
        <ion-text class="medium">Resolve Time(min)</ion-text><br>
        <ion-text color="dark">{{data.resolve_time}}</ion-text><br>
        <ion-text [color]="data.resolve_remark == 'Breached'? 'danger': 'success' ">{{data.remain_resolve}} {{data.resolve_remark}}</ion-text><br>
      </ion-col>
    </ion-row> -->
  </div>
    <ion-grid class="grid1">
      <ion-row>
        <ion-col class="ion-text-center" >
          <ion-button style="width:80%;font-size:xx-small;" color="secondary" (click)="openSite()">Site Details</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button style="width:80%;font-size:xx-small;" color="medium" (click)="history()">History </ion-button>
        </ion-col>
        <ion-col class="ion-text-center" >
          <ion-button *ngIf="data.rslv_date === '0000-00-00 00:00:00';else efsr" style="width:80%;font-size:xx-small;" color="warning" (click)="work_now()">Work Now</ion-button>
          <ng-template #efsr>
            <ion-button style="width:80%;font-size:xx-small;" color="success" (click)="fsr(data.tkts_id)">EFSR</ion-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-card>
