.custom-file-upload{
  background: #f7f7f7;
  padding: 8px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  // padding: 6px 12px;
  cursor: pointer;
}
