.myCard{
  ion-card-header{
    background-color: var(--ion-color-primary);
    color: white;
  }
  ion-card-content{
    padding:0px;
    ion-row{
      ion-col{
        position: initial;
        padding: 0px !important;
        ion-item{
          min-width:100%;
          max-width:110px;
          ion-select{
            max-width:100%;
            min-width: 110px;
          }
        }
      }
    }
  }
}

.pinpoint {
  position: absolute;
  background-color: red;
  border-radius: 50%;

}

button {
  // margin:0px 3px;
  padding:7px;
  background-color:var(--ion-color-primary);
  color:var(--ion-color-light);
  border-radius: 4px;
  width:70px;
}

input {
  width:70px;
  text-align: center;
  margin-left:5px;
  margin-right:5px;
}

/* Outer div */
.outer {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 1px solid black;
}

/* Inner div */
.inner {
  width: 1000px;
  height: 1000px;
  overflow: hidden;
  position:relative
}

/* Image */
.inner img {
  width: 1000px;
  height: 1000px;
}
