<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Floor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null, false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionChange)="search($event)" debounce="1000"></ion-searchbar>

  <ion-virtual-scroll [items]="myFloor" approxItemHeight="320px">
    <ion-item *virtualItem="let item; let itemBounds = bounds;" (click)="closeModal(item, true)">
      {{item.label}}
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
