<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Assign</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(null, false)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item *ngFor="let dat of allTeamMember;let i = index">
    <ion-avatar class="center">{{i+1}}</ion-avatar>
    <ion-label class="ion-text-wrap">
      {{dat.label}}
    </ion-label>
    <ion-button slot="end" color="primary" (click)="submit(dat)">
      Assign
    </ion-button>
  </ion-item>
  <!-- <ion-card>
    <ion-item>
      <ion-label position="floating">Select Employee <ion-text color="danger"> *</ion-text> </ion-label>
      <ion-select interface="action-sheet" [(ngModel)]="user_id" mode="ios">
        <ion-select-option *ngFor="let data of allTeamMember" [value]="data.value">{{data.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="submit()" [disabled]="!user_id">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-card> -->


</ion-content>
